<section class="hero">
  <h1 class="title">Fenjoy</h1>
  <p>
  フェンシングプレイヤーのための表作成アプリです <br>
  簡単に表が作成でき、画像として保存できることができます <br>
  まずは下のボタンをクリックしてスタート!
  </p>
  <%= link_to "表を作る",new_player_path %>
</section>